<cit:date>
    <cit:CI_Date>
        <cit:date>
            <gco:Date>{VALUE_DATE}</gco:Date>
        </cit:date>
        <cit:dateType>
            <cit:CI_DateTypeCode
                codeList="http://standards.iso.org/iso/19115/resources/Codelists/cat/codelists.xml#CI_DateTypeCode"
                codeListValue="{VALUE_EVENT_TYPE}"
            />
        </cit:dateType>
    </cit:CI_Date>
</cit:date>